
/* 中文 */
.header {
  height: 59px;
  border-bottom: 1px solid #404553;
  background-color: #393D49;
}
.logo {
  position: absolute;
  left: 0;
  top: 5px;
}
.logo img {
  width: 90px;
  height: 50px;
}
.header .layui-nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background: none;
}
.header .layui-nav .layui-nav-item {
  margin: 0 20px;
}
.header .layui-nav .layui-nav-item[mobile] {
  display: none;
}
.header-demo {
  height: 60px;
  border-bottom: none;
}
.header-demo .logo {
  left: 40px;
}
.header-demo .layui-nav {
  top: 0;
}
.header-demo .layui-nav .layui-nav-item {
  margin: 0 10px;
}
.header-demo .layui-nav .layui-this a {
  padding: 0 30px;
}
.layui-nav-item .layui-icon {
  position: relative;
  font-size: 22px;
  top: 3px;
}
.layui-nav-item .fa {
  position: relative;
  font-size: 20px;
  width: 26px;
  top: 3px;
}
.layui-nav-item a cite {
  padding: 0 10px;
}
body .layui-layout-admin .site-demo {
  bottom: 64px;
}
body .layui-layout-admin .footer-demo {
  height: auto;
  padding: 10px 0;
  line-height: 22px;
}
.footer {
  text-align: center;
  background-color: #eee;
  color: #666;
}
.footer a {
  padding: 0 5px;
}
.site-block {
  width: 50%;
  border: 1px solid #eee;
  padding: 20px 20px 0px 20px;
}
.site-block .layui-form {
  margin-right: 100px;
}
.fa-wait {
  color: #ff0000;
}
.fa-run {
  color: #3366FF;
}
.fa-rec {
  color: #0080ff;
}
.fa-normal {
  color: #46A3FF;
}
.loading {
  background-image:url(/wxapi/public/images/loading.gif);
  background-repeat:no-repeat;
  background-position:center;
}