
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, option, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
  font: 14px arial,helvetica,verdana,tahoma,sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.rsNavSelected .rsTmb .serial span {
  color: #31a4ff;
  display: block;
}
.rsNavSelected .rsTmb .headline {
  color: #e67e22;
}
.rsTmb .serial span {
  display: none;
}
.serial {
  position: absolute;
  left: 10px;
  top: 30px;
  width: 24px;
  padding: 0 4px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.cover {
  background-image:url(/wxapi/public/images/default-90.png);
  position: absolute;
  left: 40px;
  top: 15px;
  width: 90px;
  height: 50px;
  z-index: 1;
}
.c-time {
  position: absolute;
  color: #FFF;
  height: 16px;
  line-height: 16px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.c-time span {
  position: relative;
  display: inline-block;
  padding: 0 3px;
  height: 16px;
  line-height: 16px;
  z-index: 10;
  margin-right: 0;
  font-size: 12px;
}
.bg {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 0;
  border-radius: 2px;
  background: #000;
}
.headline {
  position: absolute;
  overflow: hidden;
  top: 15px;
  left: 140px;
  width: 170px;
  color: #ddd;
  font-size: 13px;
  line-height: 18px;
  max-height: 36px;
  margin-top: -3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.status {
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 140px;
  width: 170px;
  height: 20px;
  color: #999;
  font-size: 12px;
  white-space: nowrap;
}
.status span {
  display: inline-block;
  margin-right: 5px;
}

.base {
  position: relative;
  height: 60px;
  background: #fff;
  overflow: hidden;
}
.base .base_info {
  float: left;
  width: 100%;
  padding: 13px 0 17px 20px;
}
.base .base_title {
  display: inline-block;
  margin-right: 12px;
  zoom: 1;
  vertical-align: middle;
  height: 30px;
  line-height: 36px;
  max-width: 610px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  font-family: 'microsoft yaHei','微软雅黑',arial;
}
.base .base_title a {
  font-size: 18px;
  font-weight: 400;
  color: #3399E0;
}