
/* 中文 */
.header {
  height: 59px;
  border-bottom: 1px solid #404553;
  background-color: #393D49;
}
a.logo:hover {
  color: #fff;
}
.logo {
  position: absolute;
  width: 180px;
  color: #ccc;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.logo .brand {
  font-size: 22px;
  font-weight: 600;
}
.logo .version {
  position: absolute;
  font-size: 8px;
  top: 12px;
}
.logo .label {
  display: inline;
  padding: .25em .5em .25em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #f39c12;
}
.header .layui-nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background: none;
}
.header .layui-nav .layui-nav-item {
  margin: 0 20px;
}
.header .layui-nav .layui-nav-item[mobile] {
  display: none;
}
.header-demo {
  height: 60px;
  border-bottom: none;
}
.header-demo .layui-nav {
  top: 0;
}
.header-demo .layui-nav .layui-nav-item {
  margin: 0 10px;
}
.header-demo .layui-nav .layui-this a {
  padding: 0 30px;
}
.layui-nav-item .layui-icon {
  position: relative;
  font-size: 22px;
  top: 3px;
}
.layui-nav-item .fa {
  position: relative;
  font-size: 20px;
  width: 26px;
  top: 3px;
}
.layui-nav-item a cite {
  padding: 0 10px;
}
/*body .layui-layout-admin .site-demo {
  bottom: 64px;
}*/
body .layui-layout-admin .footer-demo {
  height: auto;
  padding: 10px 0;
  line-height: 22px;
}
.footer {
  text-align: center;
  background-color: #eee;
  color: #666;
}
.footer a {
  padding: 0 5px;
}
.site-block {
  width: 50%;
  border: 1px solid #eee;
  padding: 20px 20px 0px 20px;
}
.site-block .layui-form {
  margin-right: 100px;
}
.fa-wait {
  color: #ff0000;
}
.fa-run {
  color: #3366FF;
}
.fa-rec {
  color: #0080ff;
}
.fa-normal {
  color: #46A3FF;
}
.loading {
  background-image:url(/wxapi/public/images/loading.gif);
  background-repeat:no-repeat;
  background-position:center;
}
.btn-add {
  float: left;
  margin: 10px 15px 10px 0px;
}
