
body {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #303030;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}

/* main-navigation */
.main-navigation {
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 20px;
  border-bottom: 2px solid #e1e1e1;
}
.main-navigation .menu {
  padding: 0;
  margin: 0;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li.nav-current {
  border-bottom: 2px solid #e67e22;
  margin-bottom: -2px;
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
}
.main-navigation .menu li:hover > a {
  color: #e67e22;
  text-decoration: none;
}
.main-navigation .menu li ul {
  visibility: hidden;
  background: #ffffff;
  text-align: left;
  padding: 7px 0px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 120%;
  width: 200px;
  z-index: 999;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.main-navigation .menu li ul li {
  display: block;
  margin: 0;
}
.main-navigation .menu li ul li a {
  line-height: 2.5em;
  color: #505050;
}
.main-navigation .menu li ul:hover > a {
  color: #e67e22;
}
.main-navigation .menu li:hover ul {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 100%;
}
@media (max-width: 967px) {
  .main-navigation {
    text-align: left;
  }
  .main-navigation .menu li {
    display: block;
  }
  .main-navigation .menu li:hover > a {
    color: #e67e22;
    text-decoration: none;
  }
  .main-navigation .menu li ul {
    visibility: visible;
    padding: 0px 0px 0px 20px;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

/* navbar */
.navbar-header {
  text-align: center;
}
.navbar-header i {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
@media (min-width: 968px) {
  .nav-toggle-button {
    display: none;
  }
}

/* post */
.post {
  padding: 25px 0px 5px 25px;
  margin-bottom: 20px;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
.post .title hover > a {
  color: #e67e22;
  text-decoration: none;
}
.post ul.thumb_view {
  padding: 0;
  margin: 0;
	width:100%;
	float:left;
	list-style:none;
}
.post .feed-live {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;  
  background-color: #264864;
  width: 350px !important;
  height: 465px !important;
  padding: 0px 0px !important;
  margin: 0px 20px 20px 0px;
  float: left;
}
.post .feed-live:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  box-shadow: 0 26px 40px -24px rgba(0,36,100,.7);
  -webkit-box-shadow: 0 26px 40px -24px rgba(0,36,100,.7);
  -moz-box-shadow: 0 26px 40px -24px rgba(0,36,100,.7);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;  
}
.post .l-i-title {
  background: #985054;
  padding: 15px 15px;
  text-align: center;
  color: #FFF;
}
.post .l-i-box {
  padding: 15px 25px;
  color: #FFF;
  clear: both;
}
.post .feed-title {
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;  
  font-size: 22px;
}
.post .feed-line {
  font-size: 16px;
  margin-top: 5px;
  line-height: 25px;
}
.post .feed-common-name {
  float: left;
  vertical-align: middle;
}
.post .feed-common-cont {
  overflow: hidden;
  margin-left: 55px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.post .feed-desc {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  color: #ddd;
}
.post .l-i-attr {
  border-top: 1px solid #305370;
  padding-top: 10px;
  margin-top: 15px;
}
.post .l-i-attr li {
  width: 33.3%;
  text-align: center;
  display: inline-block;
}
.post .feed-item {
  color: #ccc;
  border-right: 1px solid #305370;
}
.post .feed-none {
  border: none;
}
.post .feed-number {
  margin: 10px 0px;
  font-size: 16px;
}
.post .feed-text {
  font-size: 14px;
}
.post .feed-play {
  color: #ddd;
  height: 52px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  margin: 14px 50px 0 50px;
  border: 1px solid #FF5722;
  transition: all .5s;
  -webkit-transition: all .5s;
  background-color: rgba(255,87,34,.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FF5722,endColorstr=#B2FF5722);
}
.post .feed-play:hover {
  border-color: rgba(255,87,34,.2);
  background-color: rgba(255,87,34,1.0);
  color: #fff;
}
.post .feed-play .layui-icon {
  vertical-align: middle;
  display: inline-block;
  font-size: 30px;
}
.post .feed-stop {
  color: #fff;
  height: 52px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  margin: 14px 50px 0 50px;
  border: 1px solid #838B8B;
  transition: all .5s;
  -webkit-transition: all .5s;
  background-color: #838B8B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838B8B,endColorstr=#838B8B);
}
.post .feed-status-text {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}
.post .feed-link a:hover, a:link, a:visited {
  text-decoration: none;
}

/* sidebar */
.sidebar .widget {
  background: #ffffff;
  padding: 20px 20px;
}
.main-footer .widget {
  padding: 0px 30px;
}
.widget {
  margin-bottom: 20px;
}
.tline {
  padding-bottom: 7px;
  border-bottom: 1px solid #e67e22;
}
.title {
  margin: 0px 20px 20px 0px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.title a:link, a:visited {
  text-decoration: none;
  color: #333;
}
.title a:hover {
  text-decoration: none;
  color: #e67e22;
}

.item {
  overflow: hidden;
  position: relative;
  width: auto;
  height: 20px;
  line-height: 20px;
  padding-left: 30px;
  margin: 15px 0 0;
  font-family: "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;
}
.item label {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #03a7e1;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  font: 12px/20px "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;
}
.item label.hot {
  background: #ef3f22;
}
.item .name {
  display: block;
  float: left;
  font-size: 14px;
}
.item a:link, a:visited {
  text-decoration: none;
  color: #333;
}
.item a:hover {
  text-decoration: none;
  color: #e67e22;
}
.item .extend {
  top: 0;
  right: 0;
  display: block;
  float: right;
  color: #909090;
  font-size: 14px;
  position: absolute;
  padding-left: 10px;
  background: #fff;
  z-index: 20;  
}
/* footer */
.copyright {
  background: #202020;
  font-size: 13px;
  text-align: center;
  color: #959595;
  margin-top: 0px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #959595;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(230, 126, 34, 0.6);
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  display: none;
}
#back-to-top:hover {
  background: #e67e22;
}
#back-to-top i {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.loading {
  background-image:url(/wxapi/public/images/loading.gif);
  background-repeat:no-repeat;
  background-position:center;
}
.rsHide {
  display: none;
}
.rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../images/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  z-index: 0;
}
