
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, option, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
  font: 14px arial,helvetica,verdana,tahoma,sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.rsNavSelected .rsTmb .serial span {
  color: #31a4ff;
  display: block;
}
.rsNavSelected .rsTmb .headline {
  color: #e67e22;
}
.rsTmb .serial span {
  display: none;
}
.serial {
  position: absolute;
  left: 10px;
  top: 30px;
  width: 24px;
  padding: 0 4px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.cover {
  position: absolute;
  left: 40px;
  top: 15px;
  width: 90px;
  height: 50px;
  z-index: 1;
}
.c-time {
  position: absolute;
  color: #FFF;
  height: 16px;
  line-height: 16px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.c-time span {
  position: relative;
  display: inline-block;
  padding: 0 3px;
  height: 16px;
  line-height: 16px;
  z-index: 10;
  margin-right: 0;
  font-size: 12px;
}
.bg {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 0;
  border-radius: 2px;
  background: #000;
}
.headline {
  position: absolute;
  overflow: hidden;
  top: 18px;
  left: 140px;
  width: 170px;
  color: #ddd;
  font-size: 13px;
  line-height: 16px;
  max-height: 36px;
  margin-top: -3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.status {
  position: absolute;
  overflow: hidden;
  top: 48px;
  left: 140px;
  width: 170px;
  height: 20px;
  color: #999;
  font-size: 12px;
  white-space: nowrap;
}
.status span {
  display: inline-block;
  margin-right: 5px;
}
/*.tline {
  padding-bottom: 8px;
  border-bottom: 1px solid #e67e22;
}*/
.date-cont {
  padding-top: 15px;
  font-size: 18px;
}
.date-title {
  color: #333;
  margin-left: 10px;
}
.date-datainp {
  border:1px #A5D2EC solid;
}
.date-wicon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8xNS8xNGnF/oAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAoElEQVQ4jWPceOnNfwYqAz9dYRQ+E7UtwAaGjyUsDAyYYUgJ2HT5LXZLcEmSCnA6duOlN///////H0bDALl8dPH/////Z8FuNW6Qtvw2nL3lyjsGBgYGhlmRqnj1kGwJuqHIlhJlCXq8EOITEsdqCXLEbbr8FisfFkTo+vBZRFZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: right center;
}
.date-workinput {
  width: 150px;
  line-height: 25px;
  border: 1px #A5D2EC solid;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 5px;
}
/*
.base {
  position: relative;
  height: 60px;
  background: #fff;
  overflow: hidden;
}
.base .base_info {
  float: left;
  width: 100%;
  padding: 13px 0 17px 20px;
}
.base .base_title {
  display: inline-block;
  margin-right: 12px;
  zoom: 1;
  vertical-align: middle;
  line-height: 36px;
  max-width: 710px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  font-family: 'microsoft yaHei','微软雅黑',arial;
}
.base .base_title a {
  font-size: 18px;
  font-weight: 400;
  color: #3399E0;
}*/
.main-area {
  background: #fff;
  position: relative;
}
.l-main {
  width: 850px;
  float: left;
}
.l-side {
  margin-bottom: 10px;
  background: #fff;
  width: 320px;
  float: right;
  /*position: absolute;
  right: 0px;
  top: 0px;*/
}
.l-main .feed-live {
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 3px 6px;
  background: #e62117;
  border: 1px solid #e62117;
}
.l-main .feed-lesson {
  padding: 3px 0px 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
  overflow: hidden;
}
.l-main .feed-eye {
  margin-right: 8px;
  font-size: 20px;
}
/*.loading-main {
  height: 80px;
  text-align: center;
}
.loading-img {
  top: 35px;
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  background-image: url(../images/preloader-white.gif);
}
.loading-text {
  display: inline-block;
  position: absolute;
  padding-left: 25px;
  font-size: 16px;  
  top: 35px;
}*/
.wait-main {
  height: 30px;
  margin-top: 20px;
  text-align: center;
}
.wait-img {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/preloader-white.gif) no-repeat;
}
.wait-text {
  display: inline-block;
  position: absolute;
  padding-left: 5px;
  font-size: 16px;  
}
.feed-area {
  padding: 15px 20px 10px 20px;
}
.feed-down-title {
  font-style: normal;
}
.feed-title {
  font-family: 'microsoft yaHei','微软雅黑',arial;
  vertical-align: middle;
  margin-bottom: 8px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  /*text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;*/
}
.feed-item, .feed-href {
  color: #9b9b9b;
  font-size: 18px;
  line-height: 30px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}
.feed-href a {
  color: #9b9b9b;
}
.feed-href a:hover {
  color: #212121;
}
.feed-hand {
  cursor: pointer;
}
.feed-hand:hover {
  color: #212121; /*#2692ff;*/
}
.feed-like {
  color: #212121;
}
.feed-text {
  font-size: 18px;
  margin-left: 5px;
  display: inline-block;
}
.comment-area {
  margin: 15px 20px;
}
.comment-input {
  margin-top: 15px;
}
.input-login {
  text-align: center;
  line-height: 32px;
  font-size: 16px;
}
.input-login a:hover {
  text-decoration: none;
  color: #e67e22;
}
.input-img {
  float: left;
  width: 40px;
  height: 40px;
}
.input-img img {
  width: 40px;
  height: 40px;
}
.input-text {
  padding-left: 56px;
}
.input-text textarea {
  font-size: 16px;
  color: #000;
}
.input-submit {
  float: right;
  margin: 15px;
}
.input-feeds-size {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}
.input-feeds-name {
  display: inline-block;
  font-size: 18px;
}
.comment-none {
  border-bottom: none;
}
.comment-item {
  padding-bottom: 5px;
  margin-bottom: 10px;
  /*border-bottom: 1px solid #e4e4e4;*/
}
.comment-img {
  display: table-cell;
  vertical-align: top;
  padding-right: 16px;
  overflow: hidden;
}
.comment-img img {
  height: 40px;
  width: 40px;
}
.comment-main {
  display: table-cell;
}
.comment-header {
  margin-bottom: 2px;
}
.comment-name {
  color: #111;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 2px;
  margin-right: 8px;
  display: inline-block;
}
.comment-time {
  color: #888;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-transform: none;
  display: inline-block;
}
.comment-content {
  color: #111;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.0rem;
}
.comment-button {
  margin-top: 4px;
  color: #9b9b9b;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 32px;
}
.comment-like {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  padding: 2px 0px;
}
.comment-text {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 5px;
  margin-right: 20px;
}
.comment-expand {
  color: #666;
  text-transform: none;
  margin: 5px 5px 5px 56px;
}
.comment-reply {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.comment-arrow {
  display: inline-block;
}
.removeBlock {
  opacity: 0;
}
.comment-body:hover .removeBlock {
  opacity: 1;
}
.hot-item {
  margin: 0px 10px 10px 0px;
  overflow: hidden;
  color: #333;
}
.hot-cover {
  text-decoration: none;
  position: relative;
  margin-right: 10px;
  height: 90px;
  float: left;
}
.hot-cover img {
  width: 160px;
  height: 90px;
}
.hot-title {
  font-size: 14px;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.hot-link:link, :visited {
  text-decoration: none;
  color: #333;
}
.hot-link:hover {
  text-decoration: none;
  color: #2692ff;  
}
.hot-status {
  white-space: nowrap;
  margin-top: 10px;
  overflow: hidden;
  font-size: 14px;
  color: #909096;
}
.hot-thumb-down {
  position: absolute;
  color: #FFF;
  height: 20px;
  line-height: 20px;
  right: 6px;
  bottom: 6px;
  border-radius: 4px;
}
.hot-thumb-back {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 0;
  border-radius: 2px;
  background: #000;
}
.hot-thumb-time {
  position: relative;
  display: inline-block;
  padding: 0 6px;
  height: 16px;
  line-height: 16px;
  z-index: 10;
  margin-right: 0;
  font-size: 12px;
}
.float-title {
  float: left;
  color: #333;
  font-size: 18px;
  margin: 15px 0px;
  padding: 3px 10px;
  border-bottom: 2px solid #2692ff;  
}
.float-fix {
  clear: both;
}
