
* { margin: 0; padding: 0; }
ul { list-style-type: none; }
img { border:none; }

body, button, input, select, textarea {
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','微软雅黑', '宋体','sans-serif'!important;
  font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", "tahoma", "arial", "\5B8B\4F53";
  -webkit-font-smoothing: antialiased;
}

/*.section1 .p1 { display: none; }
.section1 .p2 { position: relative; top: -600px; }
.section1 .p3 { position: relative; left: -600px; }
.section1 .p4 { position: relative; right: -600px; }
.section1 .p5 { position: relative; bottom: -600px; }

.section2 .p1 { position: relative; top: -600px; }
.section2 .p2 { position: relative; top: -600px; left: -600px; }
.section2 .p3 { position: relative; top: -600px; right: -600px; }
.section2 .p4 { display: none; }
.section2 .p5 { position: relative; bottom: -600px; left: -600px; }
.section2 .p6 { position: relative; bottom: -600px; right: -600px; }

.section3 .p1 { position: relative; top: -600px; }
.section3 .p2 { position: relative; left: -600px; }
.section3 .p3 { position: relative; right: -600px; }
.section3 .p4 { position: relative; bottom: -600px; }

.section4 .p1 { position: relative; top: -600px; }
.section4 .p2 { position: relative; right: -600px; }
.section4 .p3 { position: relative; left: -600px; }
.section4 .p4 { position: relative; right: -600px; }
.section4 .p5 { position: relative; bottom: -600px; }

.section5 .p1 { position: relative; top: -600px; }
.section5 .p2 { position: relative; right: -600px; }
.section5 .p3 { position: relative; left: -600px; }
.section5 .p4 { position: relative; bottom: -600px; }

.section6 .p1 { position: relative; top: -600px; }
.section6 .p2 { position: relative; right: -600px; }
.section6 .p3 { position: relative; left: -600px; }
.section6 .p4 { position: relative; right: -600px; }
.section6 .p5 { position: relative; bottom: -600px; }

.section7 .p1 { position: relative; top: -600px; }
.section7 .p2 { display: none; }
.section7 .p3 { position: relative; left: -600px; }
.section7 .p4 { position: relative; right: -600px; }*/

/**************************************
这里是更新日志用到的样式列表...
**************************************/
.site-content {
  width: 100%; /*899px;*/
  min-height: 500px;
  padding: 20px 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.site-h1 {
  margin-bottom: 20px;
  line-height: 60px;
  padding-bottom: 10px;
  color: #393D49;
  border-bottom: 1px solid #eee;
  font-size: 28px;
  font-weight: 300;
}
.site-content .layui-timeline-title h2 {
  display: inline-block;
}
.site-content .layui-timeline-title .layui-badge-rim {
  top: -3px; left: 10px;
}
.footer {
  width: 100%;
  padding: 10px 0;
  line-height: 20px;
  text-align: center;
  color: #333;
  font-weight: 300;
  position: relative;
  bottom: 0;
}
/******************************************
更新日志移动端的特殊样式处理...
******************************************/
@media screen and (max-width: 750px) {
  .site-content{width: 100%; padding: 0; overflow: auto;}
  .site-h1{padding-bottom: 0;}
}

/************************************************
这里是首页用到的样式列表...
*************************************************/
.site-download {
  margin-top: 20px;
  font-size: 0;
}
.site-download a {
  position: relative;
  padding: 0 45px 0 90px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #FF5722;
  border-color: rgba(255,87,34,.4);
  font-size: 24px;
  color: #222;
  transition: all .5s;
  -webkit-transition: all .5s;
  text-decoration: none;
  background-color: rgba(255,87,34,.7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FF5722,endColorstr=#B2FF5722);
}
.site-download a:hover {
  border-color: rgba(255,87,34,.3);
  background-color: rgba(255,87,34,.9);
  border-radius: 30px;
  color: #fff;
}
.site-download a cite {
  position: absolute;
  font-size: 30px;
  left: 45px;
}
.site-version {position: relative; margin-top: 15px; color: #222; font-size: 14px;}
.site-version span{padding: 0 3px;}
.site-version *{font-style: normal;}
.site-version a{color: #2096FF; text-decoration: none;}
.site-version a:hover{color: #2096FF; text-decoration: underline;}

.site-install {width: 600px; overflow: hidden; margin: 50px auto 0; padding: 0 20px; text-align: left;}
.layui-text ul li {color: #222;}

.top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  display: block;
  height: 50px;
  background-color: #333;
}
.inner {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.logo {
  float: left;
  margin-top: 9px;
}
.logo a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.firm {
  position: absolute;
  color:#fff;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 46px;
  font-weight:normal;
}
.firm a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.firm a:hover {
  color: #83c3f3;
}
.nav {
  float: right;
  margin-top: 10px;
  font-size: 0;
}
.nav li {
  display: inline-block;
  margin-left: 40px;
}
.nav a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  color: #83c3f3;
}
.nav .active a {
  color: #83c3f3;
}
.section {
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}
.title1 {
  opacity: 0.8;
  font-size: 60px;
  line-height: 93px;
  background: url(/wxapi/public/images/titleline1.png) no-repeat center bottom;
}
.title2 {
  opacity: 0.8;
  font-size: 40px;
  line-height: 75px;
}
.title3 { 
  color: #666;
  font-size: 24px;
  line-height: 48px;
  margin-top: 20px;
}
.DemoBtn {
  cursor: pointer;
  margin: 50px auto 0;
  width: 220px;
  height: 50px;
  line-height: 50px;
  position: relative;
  background: #5396FF;
  font-size: 24px;
  border: none;
  border-radius: 25px;
}
.DemoBtn a {
  display: inline-block;
  color: #000;
  width: 100%;
  height: 100%; 
  text-decoration: none;
  transition: all .8s;
  -webkit-transition: all .8s;
}
.DemoBtn a:hover {
  color: #eee;
}

.section .subject {
  height: 55px;
  overflow: hidden;
  font-size: 38px;
  color: #000;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
}

.system {
  width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
}
.system .items {
  width: 646px; /* 150*4 + 2*2*4 + 10*3 */
  overflow: hidden;
  margin: 0 auto 0;
}
.system .items .item {
  float: left;
  width: 150px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 2px solid #ccc; /* #EDEDED; */
}
.system .items .cloud {
  width: 640px;
  margin-left: 0;
}
.system .items .first {
  margin-left: 0;
}
.system .items .link {
  border: 0px;
  width: 154px;
}
.system .items .item .icon {
  color: #33AAEE;
  font-size: 60px;
  height: 60px;
  width: 110px;
  display: block;
  overflow: hidden;
  margin: 10px auto 5px;
}
.system .items .item .haoyi {
  font-size: 120px;
  height: 110px;
  width: 150px;
}
.system .items .item .desc,
.system .items .item .title {
  margin: 0px 5px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  text-align: center;
}
.system .items .item .title {
  font-size: 18px;
  color: #000;
}
.system .items .item .desc {
  margin-bottom: 10px;
  color: #666;
}
.system .items .item .line {
  width:4px;
  height:50px;
  background-color: #666;
  border:1px solid #AFAFAF;
  border-radius:1px;
  margin: 0px 0px -1px 75px;
  box-shadow: 1px 5px 5px #EFEFEF;
}
.system .items .item .arrow {
  margin-left: 71px;
}
.system .items .item .ipad {
  height: 50px;
  margin: 14px auto 5px;
}

.features {
  width: 1170px;
  margin: 0 auto;
  padding-top: 15px;
}
.features .items {
  width: 1120px;
  overflow: hidden;
  margin: 0 auto 0px;
}
.features .items .item {
  width: 356px;
  border: 2px solid #ccc; /* #EDEDED; */
  margin-left: 20px;
  margin-bottom: 22px;
  float: left;
  padding-bottom: 15px;
}
.features .items .first {
  margin-left: 0;
}
.features .items .item .desc,
.features .items .item .title {
  width: 320px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
}
.features .items .item .title {
  font-size: 23px;
  color: #000;
}
.features .items .item .desc {
  font-size: 18px;
  color: #666;
}
.features .items .item .icon {
  color: #33BFFF;
  font-size: 80px;
  height: 80px;
  width: 110px;
  display: block;
  overflow: hidden;
  margin: 20px auto 15px;
}
.wraper {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 25px;
}
.wraper .items {
  width: 1030px;
  margin: 0 auto;
}
.wraper .items .item {
  width: 1030px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
  clear: both;
}
.wraper .items .item .icon {
  color: #33BFFF;
  font-size: 160px;
  height: 160px;
  width: 200px;
  overflow: hidden;
  float: left;
}
.wraper .items .item .contents {
  float: left;
  width: 800px;
  margin-top: 20px;
}
.wraper .items .item .contents .desc,
.wraper .items .item .contents .title {
  width: 750px;
  margin: 0 auto;
  text-align: justify;
}
.wraper .items .item .contents .desc {
  color: #888;
  font-size: 18px;
  margin-top: 15px;
}
.wraper .items .item .contents .title {
  color: #000;
  font-size: 25px;
  line-height: 30px;
}
.wraper .items .right .icon {
  float: right;
}
.foot_bot {
  left: 0;
  bottom: 10px;
  width: 100%;
  display: block;
  font-size: 16px;
  color: #333;
  position: absolute;
  text-align: center;
  font-family: 'Microsoft Yahei','Tahoma','Arial','Helvetica','Simsun','STHeiti';
}
.foot_copy {bottom: 35px;}
.contact {margin-top: 40px;}

/******************************************
首页移动端的特殊样式处理...
******************************************/
@media screen and (max-width: 750px) {
  .site-download {margin-top: 5px;}
  .site-download a {padding: 0 25px 0 60px; height: 40px; line-height: 40px; font-size: 16px; background-color: rgba(255,87,34,.9); border-radius: 30px;}
  .site-download a cite {left: 20px;}
  .site-version {margin-top: 10px;}
  .title1 {font-size: 28px; line-height: 40px;}
  .title2 {font-size: 16px; line-height: 30px;}
  .title3 {font-size: 16px; line-height: 20px; margin: 10px 5px 5px 5px;}
  .DemoBtn {margin: 25px auto 0; width: 120px; height: 36px; line-height: 36px; font-size: 16px; border-radius: 30px;}
  .DemoBtn a {color: #fff;}
  .DemoBtn a:hover {color: #222;}
  .section .subject {height: 35px; font-size: 22px; line-height: 30px; margin-top: 10px;}
  .system {padding-top: 10px;}
  .system .items {width: auto;}
  .system .items .item {margin-left: 5px; border: 2px solid #EDEDED;}
  .system .items .first {margin-left: 0;}
  .system .items .cloud {margin-left: 0;}
  .system .items .item .icon {width: auto;}
  .system .items .link {border: 0}
  .system .items .item .haoyi {margin-top: 5px;width: auto;}
  .system .items .item .title {line-height: 18px; font-size: 16px;}
  .system .items .item .desc {font-size: 12px; line-height: 18px; margin-bottom: 5px;}
  .system .items .item .line {height:30px; background-color: #777; margin: 0px 0px -1px 25px;}
  .features {padding-top: 10px; margin-bottom: 10px;}
  .features .items {width: auto;}
  .features .items .item {margin-left: 5px; border: 2px solid #EDEDED; margin-bottom: 10px; padding-bottom: 5px;}
  .features .items .first {margin-left: 0;}
  .features .items .item .icon {width: auto; margin: 5px 0px;}
  .features .items .item .desc,
  .features .items .item .title {width: auto; line-height: normal; white-space: normal; margin: 2px 5px;}
  .features .items .item .title {font-size: 16px;}
  .features .items .item .desc {font-size: 12px;}
  .wraper {width: auto; margin: 5px 5px; padding-top: 10px;}
  .wraper .items {width: auto;}
  .wraper .items .item {width: auto; height: auto; margin-bottom: 5px;}
  .wraper .items .item .icon {width: 60px; height: 60px; font-size: 50px; margin: 2px 2px;}
  .wraper .items .item .contents {margin: 2px 2px;}
  .wraper .items .item .contents .desc,
  .wraper .items .item .contents .title {width: auto;}
  .wraper .items .item .contents .desc {font-size: 16px; margin-top: 5px;}
  .wraper .items .item .contents .title {font-size: 18px; line-height: normal;}
  .foot_bot {bottom: 5px; font-size: 14px; color: #666;}
  .foot_copy {bottom: 25px;}
  .contact {margin-top: 20px;}
  .site-install {width: auto; margin-top: 20px; padding: 0 10px;}
  .layui-timeline-item {padding-bottom: 10px;}
  .layui-timeline-title {margin-bottom: 0px;}
  .layui-text ul {padding: 5px 0 5px 5px;}  
  .layui-text ul li {margin-top: 0px;}
  .layui-text h2 {font-size: 18px;}
  .layui-text h3 {font-size: 18px;}
}
