
.video-wall {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin: 0 auto;
  background: #000;
  border: 1px solid #ccc;
  /*flex-direction: column;*/
  /*display: flex;*/
}
.header-bar {
  color: #000;
  font-size: 24px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  background-color: #fff;
  /*padding: 10px 20px;
  justify-content: center;
  text-transform: uppercase;
  display: flex;*/
}

/*.row-flex-2,
.row-flex-6 {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}*/

.thumb {
  min-width: 285px;
  min-height: 180px;
  position: relative;
  opacity: 1;
  background-size: calc(100% + 60px);
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
  -webkit-transition: background-size .3s ease-in-out;
  -ms-transition: background-size .3s ease-in;
  -o-transition: background-size .3s ease-in;
  border: 1px solid #000;
  background-color: #ccc;
}

.thumb.large {
  min-width: 570px;
  min-height: 360px;
}

.title-text {
  color: #fff;
  text-align: left;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  bottom: -20px;
  opacity: 0;
  filter: alpha(opacity=0);
  pointer-events: none;
  transition: all .2s ease-in-out .1s;
  -webkit-transition: all .2s ease-in-out .1s;
  -ms-transition: all .2s ease-in-out .1s;
  -o-transition: all .2s ease-in-out .1s;
}

.title-none {
  top: 50%;
  color: #666;
  width: 100%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  transform: translateY(-50%);
}

.thumb.large .title-text {
  font-size: 20px;
  padding: 10px;
}

.thumb:hover {
  background-size: calc(100% + 40px);
}

.thumb:hover .title-text {
  filter: alpha(opacity=100);
  opacity: 1;
  bottom: 0;
}

.rsVideoFrameHolder {
  top: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder iframe {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url(../images/rs-default.png) -64px 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}

.am-gallery-up {
  position: absolute;
  color: #FFF;
  height: 20px;
  line-height: 20px;
  right: 6px;
  top: 6px;
}
.am-thumb-back {
  width: 100%;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  position: absolute;
}
.am-thumb-text {
  margin: 0px 3px;
  position: relative;
}
.online {
  background: #ff6d34;
}
.offline {
  background: #5aa700;
}
